body {
	font-family: Verdana, Arial, sans-serif;
  }
  h1 {
	color: white;
	background-color: #61b3e7;
  }
  
  h1.clicked {
	color: navy;
	background-color: lightgray;
  }

  
  h2 {
	color: #FFB695;
	margin-left: 40px;
	border-bottom: 4px dotted black;
  }
  